* {
  box-sizing: border-box;
}

html {
  position: relative;

  height: 300vh;
  padding: 50px;
  margin: 5px;
  border: 3px solid green;
}

.rule {
  position: absolute;
  top: 0;
  right: 0;
}

body {
  border: 3px solid black;

  margin: 50px;
  height: 100vh;
}

.square {
  background-color: green;
  width: 100px;
  height: 100px;
}
